NEXTAUTH_URL=http://localhost:3000
NEXTAUTH_SECRET=your-secret-here
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
NEXT_PUBLIC_SUPABASE_URL=
NEXT_PUBLIC_SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=
MUX_TOKEN_ID=
MUX_TOKEN_SECRET=
MUX_WEBHOOK_SECRET=
NEXT_PUBLIC_MUX_ENV_KEY=
ADMIN_EMAIL=vipaymanshalaby@gmail.com
NEXT_PUBLIC_APP_URL=https://vidsyncro.com
NEXT_PUBLIC_EMBED_URL=https://embed.vidsyncro.com
